#mainContent {
    margin-top:80px;
    margin-bottom:40px;
    width:1200px;
    height: 640px;
    margin-left:auto;
    margin-right:auto;
    background-color: #F7F7F7;
    font-family: Avenir;
}

/* BEGIN STYLE FOR ITEM RESULT */
#backButton {
    background: #4A4A4A;
    border-radius: 8px;
    border-style: hidden;
    font-family: Avenir-Heavy;
    font-size: 18px;
    color: white;
    width: 200px;
    text-align: left;
    margin: 15px;
}

.thumbnail {
    height: 54px;
    width: 54px;
}

#singleResultContainer {
    
}

.singleTd {
    vertical-align: top;
}

#enlargedPhoto {
    height: 280px;
    width: 290px;
    margin: 10px;
    margin-left: 20px;
}

.thumbButton {
    margin:0;
    padding: 0;
    border-style: hidden;
}

#resultName {
    font-family: Avenir-Heavy;
    font-size: 40px;
    color: #272066;
    font-weight: bold;
}

#tradeButton {
    background: #1B1464;
    border-radius: 8px;
    border-style: hidden;
    font-family: Avenir-Heavy;
    font-size: 18px;
    width: 120px;
    padding: 3px;
    color: white;
    margin-bottom: 0;
}

#tradeLink {
	text-decoration: none;
	color: white;
}
/* END STYLE FOR ITEM RESULT */

/* BEGIN STYLE FOR RELATED ITEMS DISPLAY */
.relatedDescription {
    width: 320px;
}

.relatedThumbnail {
    height: 80px;
    width: 80px;
}

.itemDescription {
    font-size: 11px;
}

.traderInfo {
    width: 80px;
}

.itemName {
    font-weight: bold;
    color: #1B1464;
    text-decoration: none;
}

.relatedZips {
    font-weight: bold;
    color: #1B1464;
}

.relatedtrader {
    color: #1B1464;
    font-size: 13px;
}
/* END STYLE FOR RELATED ITEMS DISPLAY */

