.detailHeader{
	width: 550px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	padding-top: 25px;
	text-align: center;
	font:  bold 45px Avenir;
	border-bottom: 3px solid #005AC3;
}
#deleteText{
	width: 450px;
	color: #1B1464;
	font:  bold 20px Avenir;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
}